.h-xs-1 {
  padding-bottom: 8.33333333%;
}
.h-xs-2 {
  padding-bottom: 16.6666666%;
}
.h-xs-3{
  padding-bottom: 25%;
}
.h-xs-4{
  padding-bottom: 33.33333333%;
}
.h-xs-6{
  padding-bottom: 50%;
}
.h-xs-12{
  padding-bottom: 100%;
}
