.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log
.idea
cordova/node_modules/
cordova/platforms/
cordova/www/
cordova/npm-debug.log*
cordova/yarn-debug.log*
cordova/yarn-error.log*
cordova/selenium-debug.log
cordova/dinglian/node_modules/
cordova/dinglian/npm-debug.log*
cordova/dinglian/yarn-debug.log*
cordova/dinglian/yarn-error.log*
cordova/dinglian/test/unit/coverage
cordova/dinglian/test/e2e/reports
cordova/dinglian/selenium-debug.log
